.app {
  text-align: center;
}

.app > .header {
  margin: 0 auto 85px;
  width: 90vw;
}

.app > .card {
  display: inline-block;
  width: 90vw;
  height: 90vw;

  margin-bottom: 40px;
}

.app > .card > .hashtag > .item {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.app > .card > .item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app .checkbox {
  margin-top: 10px;
}
